<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <!-- 描述文字 -->
      <div class="page-header">
        <h1>對直播主吐槽吧
          <small>真是好吐槽啊</small>
        </h1>
        <a href="{{ displayUrl$ | async }}" target="_blank">顯示畫面</a>
        <a routerLink="edit" class="btn btn-primary pull-right">編輯</a>
      </div>
      <!-- 表單區 -->
      <form>
        <div class="form-group form-group-lg">
          <input type="text" placeholder="請輸入您想吐槽的字，按Enter送出" class="form-control" (keyup.enter)="sendMessage(msg.value, ''); msg.value=''"
            #msg>
        </div>
      </form>

      <!-- 罐頭訊息 -->
      <div class="grid" *ngIf="items$ | async as items; else loading">
        <button class="btn btn-lg" *ngFor="let item of items" [ngClass]="item.colorClass" (click)="sendMessage(item.value, item.displayClass)"
          [ngStyle]="item.style">
          {{ item.label }}
        </button>
      </div>
      <ng-template #loading>
        Loading....
      </ng-template>
    </div>
  </div>
</div>
